/*----------------- body ---------------------*/ 
/*@import url("../components/Card.css");*/

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');
/* Colors 
 @primary: #FF5B60; */
.BlackTooltip {
    background: "hsla(0, 0%, 0%, 0.75)";
    color: white;
    border: none;
    border-radius: 4px;
    padding: "0.5em 1em";
    position: absolute;
    left: 25%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

p {
  font-weight: 500;
}

/*----------------- main link defenition ---------------------*/

.HeroGroup button{
  animation: HeroAnimation 3s 0.3s forwards cubic-bezier(0.2, 0.82, 0.2, 1);
  background: #FF5B60;
  border: 0px solid rgba(255,255,255, 0.25);
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  opacity: 0;
  padding: 16px 32px;
  text-transform: capitalize;
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.HeroGroup button:hover{
  animation-timing-function: cubic-bezier(0.2, 0.82, 0.2, 1);
  background: #CC494E;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
  color: white;
  cursor: pointer;
  transform: translateY(-3px);
}

h2 {
  color: #00211E;
  text-align: center;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 40px;
  padding-left: 20px;
  font-family: 'Merriweather', serif;
}
div #Projects {
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

h3{
  font-size: 20px;
  color: #67757E;
  text-align: center;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  line-height: 1.6;
  padding-left: 25px;
  padding-right: 20px;
  margin: 10px auto 20px auto;
  max-width: 900px;
}




a {
  color: #CC494E;
}

a:hover {
  text-decoration: underline;
}

/*----------------- header ---------------------*/

.Hero {
  /*background: url('../images/bckgAms.jpg');*/
  background: rgb(33,80,122);
  background: radial-gradient(circle, rgba(33,80,122,1) 0%, rgba(14,17,36,1) 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-color: #17356F;
  height: 900px;
  position: relative;
}

.HeroGroup {
  max-width: 900px;
  margin: 0 auto;
  padding: 150px 50px;
  text-align: center;
}

.HeroGroup #profile{
  background: url('../images/profileImg.png');
  background-size: cover;
  background-position: center;
  border-radius: 999px;
  height: 150px;
  margin: 0 auto 40px auto;
  width: 150px;
  border: 3px solid #afb4c6;
}

.Hero h1{
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.82, 0.2, 1);
  color: aliceblue;
  font-size: 40px;
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  margin-bottom: -16px;
  opacity: 0;
  font-weight: 400;
  font-family: 'Merriweather', serif;
}

.Hero p{
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.82, 0.2, 1);
  color: #EBF0F8;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  opacity: 0;
  font-weight: 500;
}


.Hero svg {
  bottom: 0;
  left: 0;
  position: absolute;
}

@media (max-width: 640px) {
  .HeroGroup{
    padding: 100px 20px;
    text-align: center;
  }
  .Hero h1{
    font-size: 32px;
  }
  .Hero p {
    font-size: 20px;
  }
}

@keyframes HeroAnimation {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.Logos{
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  margin: 60px auto;
  justify-items: center;
}

.Logos a{
  transition: 0.3s;
}

.Logos a:hover{
  animation-timing-function: cubic-bezier(0.2, 0.82, 0.2, 1);
  cursor: pointer;
  transform: translateY(-10px);
}

.LogosTools {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 60px;
  margin: 50px auto 40px auto;
  justify-items: center;
}

.LogosTools a{
  transition: 0.3s;
}

.LogosTools a:hover{
  cursor: pointer;
  transform: translateY(-8px);
}

.ToolsHolder{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 140px;
}

.Contacts{
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  margin: 0 auto 30px auto;
  justify-items: center;
}

.Contacts a{
  transition: 0.3s;
}

.Contacts a:hover{
  animation-timing-function: cubic-bezier(0.2, 0.82, 0.2, 1);
  cursor: pointer;
  transform: translateY(-10px);
}

.Hero .Logos .Links {
  text-decoration: none;
  background: none;
}

@media (max-width: 650px) {
.Logos {
    max-width: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 40px auto 40px auto;
  }

  .Hero svg {
    bottom: -40px;
  }

  .LogosTools{
    max-width: 400;
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }


  .Contacts{
    max-width: 630px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 10px auto 30px auto;
    justify-items: center;
  }

  .Logos a{
    transition: 0;
  }
  
  .Logos a:hover{
    cursor: pointer;
    transform: translateY(0px);
  }

  .Contacts a{
    transition: 0;
  }
  
  .Contacts a:hover{
    cursor: pointer;
    transform: translateY(0px);
  }

}


/* About me */

.About h4{
  font-size: 20px;
  color: #00211E;
  text-align: left;
  font-weight: 600;
  font-family: 'Merriweather', serif;
  line-height: 1.6;
  letter-spacing: 1.2px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 900px;
  margin: 60px auto 0 auto;
}

.About p{
  font-size: 16px;
  color: #67757E;
  text-align: left;
  font-weight: 600;
  line-height: 1.6;
  max-width: 900px;
  margin: 10px auto 0 auto;
}

.AboutHeader {
  height: 600px;
  overflow: auto;
  width: 100%;
  margin-bottom: 40px;
}

.AboutLeftImage {
  background: url('../images/aboutMe.jpg');
  background-size: cover;
  background-position: left;
  float: left;
  height: 600px;
  width: 500px;
}

.AboutRightText {
  vertical-align:top;
  margin: 0 auto;
  background: rgb(2,14,80);
  background: linear-gradient(90deg, rgba(2,14,80,1) 51%, rgba(33,80,122,1) 100%);
  width: 100%;
  height: 600px;
}

.AboutRightText h1{
  color: azure;
  margin: 0 auto;
  align-content: left;
  margin-left: 550px;
  padding-top: 200px;
  max-width: 900px;
  font-family: 'Merriweather', serif;
}

.AboutRightText p {
  color: azure;
  margin: 0 auto;
  margin-left: 550px;
  padding-right: 40px;
  padding-top: 10px;
  max-width: 900px;
  line-height: 1.6;
}

.About button{
  margin: 40px auto;
  display: block;
  text-decoration: none;
  animation: HeroAnimation 3s 0.3s forwards cubic-bezier(0.2, 0.82, 0.2, 1);
  background: #FF5B60;
  border: 0px solid rgba(255,255,255, 0.25);
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  opacity: 0;
  padding: 16px 32px;
  text-transform: capitalize;
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
  text-decoration: none;
}

.About button:hover{
  margin: 40px auto;
  display: block;
  text-decoration: none;
  animation-timing-function: cubic-bezier(0.2, 0.82, 0.2, 1);
  background: #CC494E;
  color: white;
  cursor: pointer;
}


@media (max-width: 860px){
  .AboutHeader {
    height: 900px;
    overflow: auto;
    width: 100%;
  }

  .AboutLeftImage {
    background: url('../images/aboutMe.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
  }
  
  .AboutRightText {
    margin: 0 auto;
    background-color: rgb(2, 14, 80);
    width: 100%;
    height: auto;
    padding-top: 700px;
  }

  

  .AboutRightText h1{
    margin: 0 auto;
    align-content: center;
    margin-left: 40px;
    padding-top: 30px;
    max-width: 600px;
    font-family: 'Merriweather', serif;
  }
  
  .AboutRightText p {
    color: azure;
    text-align: left;
    margin-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 30px;;
    max-width: 900px;
    line-height: 1.6;
  }

  .About {
    margin-bottom: 80px;
  }

  .About h2{
    text-align: left;
    margin-left: 40px;;
  }

  .About h3{
    text-align: left;
    margin-left: 20px;;
  }

  .About h4{
    margin: 60px auto -20px auto;
    padding-left: 40px;
  }

  .About p{
    margin: 20px auto 0 auto;
    padding-left: 40px;
  }

}


@media (max-width: 520px){
  .AboutLeftImage {
    background: url('../images/aboutMe.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
  }


  .AboutRightText {
    padding-top: 450px;
  }
  .AboutRightText h1{
    margin-right: 20px;
  }

}


/* Project page CE*/
.CE #Images{
  max-width: 1200px;
  height: auto;
  max-height: 1100px;
  margin: 120px auto;
  overflow: hidden;
}

.CE #ImagesFull{
  max-width: 100%;
  max-height: auto;
  margin: 100px auto;
  overflow: hidden;
}

.CE img{
  width: 100%;
  height: auto;
  align-self: center;
  max-height: auto;
  margin: 0 auto;
}

.CE button{
  margin: 40px auto;
  display: block;
  text-decoration: none;
  animation: HeroAnimation 3s 0.3s forwards cubic-bezier(0.2, 0.82, 0.2, 1);
  background: #FF5B60;
  border: 0px solid rgba(255,255,255, 0.25);
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  opacity: 0;
  padding: 16px 32px;
  text-transform: capitalize;
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
  text-decoration: none;
}

.CE h2{
  text-align: left;
  padding-top: 120px;
  max-width: 1100px;
  margin: 0 auto;
}

.CE button:hover{
  margin: 40px auto;
  display: block;
  text-decoration: none;
  animation-timing-function: cubic-bezier(0.2, 0.82, 0.2, 1);
  background: #CC494E;
  color: white;
  cursor: pointer;
}

.CE h3{
  text-align: left;
  max-width: 1080px;
}

.CE h4{
  font-size: 32px;
  color: #00211E;
  text-align: left;
  font-weight: 500;
  font-family: 'Merriweather', serif;
  line-height: 1.6;
  letter-spacing: 1.2px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1080px;
  margin: 100px auto 0 auto;
}

.CE p{
  font-size: 16px;
  color: #67757E;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 1.8;
  max-width: 1080px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px auto;
}

.HeroProjHeaderCE{
  background: rgb(121,126,143);
  background: linear-gradient(50deg, rgba(121,126,143,1) 0%, rgba(175,180,198,1) 94%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  padding-bottom: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeroProjHeaderCO{
  background: rgb(48,56,86);
  background: linear-gradient(90deg, rgba(48,56,86,1) 0%, rgba(69,120,159,1) 94%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  padding-bottom: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeroProjHeaderXL{
  background: rgb(0,135,90);
  background: linear-gradient(90deg, rgba(0,135,90,1) 0%, rgba(8,83,58,1) 94%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  padding-bottom: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ProjectHeroBody{
  height: auto;
  margin: 0 auto;
  max-width: 1080px;
  width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 150px;
}

.HeroImages {
  width: 300px;
  height: 460px;
  box-shadow: 0 26px 64px rgba(0,0,0,.15);
  position: relative;
  z-index: 2;
  margin-top: 80px;

}



.ProjectHeroBody h1{
  color: #fff;
  text-align: left;
  font-size: 42px;
  font-family: 'Merriweather', serif;
}

.ProjectHeroBody p {
  color: azure;
  padding-top: 10px;
  line-height: 1.6;
  text-align: left;
  max-width: 550px;
}

@media (max-width: 1080px){
  .ProjectHeroBody{
    margin: 150px 20px 50px 20px;
  }
  h2{
    padding-right: 25px;
  }

  h3{
    padding-left: 25px;
    padding-right: 25px;
  }

}

@media (max-width: 768px){
  .ProjectHeroBody{
    margin: 120px 20px 50px 20px;
  }

  .HeroImages{
    display: none;
  }

  .CE #ImagesFull{
    max-width: 100%;
    max-height: auto;
    margin: 100px auto;
    overflow: hidden;
  }

  .CEtHeader {
    height: 900px;
    overflow: auto;
    width: 100%;
  }

  .CE #Images{
    margin: 30px 40px;
    height: auto;
  }

  .CELeftImage {
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  
  .CERightText {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 500px;
  }

  .CE h4{
    padding-right: 40px;
  }

  .CE p {
    padding-right: 40px;
    margin-top: 10px;
    padding-left: 25px;
  }

  .CERightText h1{
    margin: 0 auto;
    align-content: center;
    margin-left: 40px;
    padding-top: 30px;
    max-width: 600px;
    font-family: 'Merriweather', serif;
  }
  
  .CERightText p {
    color: azure;
    text-align: left;
    margin-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 30px;;
    max-width: 900px;
    line-height: 1.6;
  }

  .CE {
    margin-bottom: 80px;
  }

  .CE h2{
    text-align: left;
  }

  .CE h3{
    text-align: left;
  }

  .CE h4{
    margin: 60px auto 10px auto;
    padding-left: 20px;
  }

}


@media (max-width: 576px){
  .ProjectHeroBody{
    margin: 80px 20px 20px 20px;
  }


  .CE #Images{
    margin: 30px 40px;
    height: auto;
    max-height: 200px;
  }

  .CE #ImagesFull{
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
  }

}

/* CONDA IMAGE*/

.CONDALeftImage {
  /*background: url('../images/CONDAHead.jpg');*/
  background-size: cover;
  background-position: left;
  float: left;
  height: 600px;
  width: 500px;
}

.CONDARightText {
  vertical-align:top;
  margin: 0 auto;
  background-color: #333C55;
  width: 100%;
  height: 600px;
}

.CONDARightText h1{
  color: azure;
  margin: 0 auto;
  align-content: left;
  margin-left: 550px;
  padding-top: 200px;
  max-width: 900px;
  font-family: 'Merriweather', serif;
}

.CONDARightText p {
  color: azure;
  margin: 0 auto;
  margin-left: 550px;
  padding-right: 40px;
  padding-top: 10px;
  max-width: 900px;
  line-height: 1.6;
}

@media (max-width: 768px){
  .CEtHeader {
    height: 900px;
    overflow: auto;
    width: 100%;
  }

  .CE #Images{
    margin: 30px 40px;
  }


  .CONDALeftImage {
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
  }
  
  .CONDARightText {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 700px;
  }

  .CONDARightText h1{
    margin: 0 auto;
    align-content: center;
    margin-left: 40px;
    padding-top: 30px;
    max-width: 600px;
    font-family: 'Merriweather', serif;
  }
  
  .CONDARightText p {
    text-align: left;
    margin-left: 0;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 30px;;
    max-width: 900px;
    line-height: 1.6;
  }
}


@media (max-width: 576px){
  .CONDALeftImage {
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 100%;
    margin-bottom: 30px;
  }

  .CONDARightText h1{
    align-content: left;
    margin-left: 40px;
    margin-top: 30px;
    max-width: 500px;
  }

  .CONDARightText {
    padding-top: 450px;
  }
  .CONDARightText h1{
    margin-right: 20px;
  }

  .CE #Images{
    margin: 30px 40px;
    height: auto;
  }

}

/* XebiaLabs */
.XebiaLabsLeftImage {
  /*background: url('../images/XebiaLabs.jpg');*/
  background-size: cover;
  background-position: left;
  float: left;
  height: 600px;
  width: 500px;
}

.XebiaLabsRightText {
  vertical-align:top;
  margin: 0 auto;
  background-color: #009E46;
  width: 100%;
  height: 600px;
}

.XebiaLabsRightText h1{
  color: azure;
  margin: 0 auto;
  align-content: left;
  margin-left: 550px;
  padding-top: 200px;
  max-width: 900px;
  font-family: 'Merriweather', serif;
}

.XebiaLabsRightText p {
  color: azure;
  margin: 0 auto;
  margin-left: 550px;
  padding-right: 40px;
  padding-top: 10px;
  max-width: 900px;
  line-height: 1.6;
}

@media (max-width: 768px){
  .HeroProjHeaderCE{
    height: auto;
  }
  .HeroProjHeaderXL{
    height: auto;
  }
  .HeroProjHeaderCO{
    height: auto;
  }

  .XebiaLabsLeftImage {
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    margin-bottom: 30px;
  }
  
}


@media (max-width: 576px){
  .HeroProjHeaderCE{
    height: auto;
  }
  .HeroProjHeaderXL{
    height: auto;
  }
  .HeroProjHeaderCO{
    height: auto;
  }

}


